<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean class="com.onebookshop.filter.OneBookShopFilterChain" id="oneBookShopFilterChain">
        <property name="filters">
            <list>
                <!--<ref bean="homePageRedirectionFilter" />-->
                <ref bean="cartRestorationFilter" />
            </list>
        </property>
    </bean>

    <!--<bean class="com.onebookshop.filter.HomePageRedirectionFilter" id="homePageRedirectionFilter"/>-->
    <bean class="com.onebookshop.filter.CartRestorationFilter" id="cartRestorationFilter" />
</beans>